:root {
  /* access variables with "var(--primary-color)" */
  --background-color: blue;
  --primary-color: red;
  --secondary-color: green;
}

html {
  font-family: sans-serif;
  /* background-color: rgb(69, 69, 69); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
    padding: 0.5rem;
    font-size: 0.8rem;
}

#nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  column-gap: 10%;
  /* background: red; */
}

.nav-item {
  flex: 1;
  max-width: 25%;
  margin: .8rem;
  /* background: blue; */
}


#hero-img {
    background-image: url("/assets/hero_img.jpg");
    background-color: rgb(69, 69, 69);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 7rem;
}

#hero-content {
    text-align: center;
    color: black;
}

#features-and-pricing {
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
