:root {
  /* access variables with "var(--primary-color)" */
  --background-color: rgb(169, 169, 210, 0.3);
  --primary-color: rgb(59, 39, 69);
  --secondary-color: rgba(169, 169, 210, 0.9);
}

html {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 1vw+1.5rem, 2.5rem);
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 1%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  padding: 0.5rem;
}

#nav-list {
  /* TODO: turn "sticky" feature off for mobile */
  top: 0vh;
  position: sticky;
  z-index: 1;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  column-gap: 10%;
}

.nav-item {
  flex: 1;
  max-width: 25%;
  margin: 0.8rem;
}

.nav-btn {
  background: linear-gradient(to bottom right,var(--background-color), var(--secondary-color), var(--background-color));
  color: var(--primary-color);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 8%;
  overflow: hidden;
  box-shadow: 0 0 0.6em var(--primary-color);
  transition: .4s ease-in-out;
  height: 100%;
  width: 80%;
  padding: .3rem;
  font-size: clamp(1.5rem, 1vw+2rem, 3rem);
}

.nav-btn:hover {
  transform: scale(1.2);
  background: var(--secondary-color);
  opacity: 1;
}

#hero-img {
  background-image: url("/assets/hero_img.jpg");
  background-color: var(--background-color);
  opacity: 0.8;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: .5em;
  padding: 8rem;
  border-radius: 3%;
  box-shadow: 0 0 0.3em var(--primary-color);
}

#hero-content {
  text-align: center;
  color: black;
}

#hero-content > h1 {
  font-size: 4vw;
}

#hero-content > p {
  font-size: clamp(.6rem, 1vw + .8rem, 1.5rem);
  padding: 2% 4% 2% 4%;
}

#hero-btn {
  background: linear-gradient(var(--background-color), var(--secondary-color), var(--background-color));
  font-size: clamp(1.5rem, 1vw+2rem, 3rem);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 8%;
  overflow: hidden;
  outline: none;
  box-shadow: 0 0 0.6em var(--primary-color);
  transition: .4s ease-in-out;
}

#hero-btn:hover {
  transform: scale(1.2);
  background: var(--primary-color);
  color: whitesmoke;
}
  

/* hide every section except for hero-img */
section:not(#hero-img) {
  display: none;
}

.sec-title {
  background: linear-gradient(to top right,var(--background-color), var(--secondary-color), var(--background-color));
  text-align: center;
  padding: .6em;
  margin: 1%;
  font-size: clamp(1.2rem, 4vw + .8rem, 3rem);
}

.subsec-title {
  text-align: center;
  font-size: clamp(.8rem, 3vw + .8rem, 2.5rem);
  padding-top: .2em;
  margin-top: 4%;
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  background-color: black;
  margin: 4%, 4%, 2%, 4%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-paragraph {
  text-align: center;
  font-size: clamp(.6rem, 1vw + .6rem, 1.3rem);
  padding: 0 20vw 2% 20vw;
  margin-bottom: 2%;
  /* background-color: red; */
}

#features-and-pricing {
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
